.main_content {
    background-color: rgb(255, 250, 226);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    box-sizing: border-box;
    align-items: end;
}

.blockMyMessage {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}

.myMessageCard {
    background-color: #00a884 !important;
}

.blockFriendsMessage {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}