.input_container {
  background-color: #e4e4e4;
  width: 100%;
  box-sizing: border-box;
}

.input_content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
}