.welcomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign_up_form input {
  box-sizing: border-box;
  padding: 10px 5px;
  border-radius: 5px;
  border: 0.5px solid #5a5959;
  width: 100%;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}